.responsive {
    max-width: 100%;
    height: auto;
  }
body {
    background-color: rgb(50, 53, 54);
  }

h1 {
  font-style: italic;
  color: blueviolet;
}

#logo {
      max-width: 30% !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}